.chart-height {
  min-height: 300px;
}

.chart-width {
  height: 1000px;
}

.name-pointer {
  min-width: 10px;
  height: 10px;
  border-radius: 100%;
}

.no-data-container {
  max-width: 45vw;
  min-height: 43vh;
}
