// font
$base-font-family: solaimanLipi, inter, sans-serif;
$base-font-size: 1.375rem;

$base-bg-color: #ffffff;

//Cyan
$cyan-25: #f5fbff !default;
$cyan-50: #ecfdff !default;
$cyan-100: #cff9fe !default;
$cyan-200: #a5f0fc !default;
$cyan-300: #7cd4fd !default;
$cyan-400: #22ccee !default;
$cyan-500: #06aed4 !default;
$cyan-600: #088ab2 !default;
$cyan-700: #026aa2 !default;
$cyan-800: #155b75 !default;
$cyan-900: #164c63 !default;
$cyan-950: #0d2d3a !default;

// primary-color
$primary-25: $cyan-25;
$primary-50: $cyan-50;
$primary-100: $cyan-100;
$primary-200: $cyan-200;
$primary-300: $cyan-300;
$primary-400: $cyan-400;
$primary-500: $cyan-500;
$primary-600: $cyan-600;
$primary-700: $cyan-700;
$primary-800: $cyan-800;
$primary-900: $cyan-900;
$primary-950: $cyan-950;

$primary: $primary-500;
